body{
    background-color: black;
}
article{
    background-color: gainsboro;
    border-radius: 20px;
    text-align: center;
    column-count: 1;
    transform-origin:center;
    transform: rotate(30deg);
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 200px;
    padding: 15px;
}