
* {
    margin: 0;
    padding: 0;
}

header{
    background-image: url(fotoOlivos2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 2%;
    
}
h1{
    text-shadow: 5px 5px 5px #a2792f;
    margin-left: 20%;
    margin-right: 20%;
    color: #a2c11c;
}
.andalucia{
    width: 150px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
   padding-top: 3%;
   padding-right: 5%;
}
.europa{
    width: 150px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-left: 5%;
}
button{
    font-weight: bolder;
    background: linear-gradient(#a2792f,#a2c11c);
    color: antiquewhite;
    font-style: oblique;
    border-color: black;
    border-style: solid;
    border-width: 2px;
   
    
}
button:hover{
    cursor: pointer;
    width: 10%;
    font-size: 115%;
}
p.texto{
    background: linear-gradient(#a2792f,#a2c11c);
    color: antiquewhite;
    border-radius: 2%;
    font-style: oblique;
    text-align: center;
    text-align: justify;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 2%;
    font-weight: bolder;
}
section{
    background-image: url(fotoOlivos3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3%;
    padding-bottom: 3%;
    border-style: ridge;
    border-width: 2%;
    border-color: black;
    padding-left: 4%;
    padding-right: 4%;
}
.tractor{
    width: 350px;
    height: 350px;
    padding-left: 3%;
    border-radius: 15%;
    float: right;
}
footer{
    background-color:black;
    font-style: oblique;
    font-weight: bolder;
}
.abajo{
    text-align: center;
    color:white ;
}

  
  