body{
    background-color: red;
}
h1{
    color: white;
    font-family: cursive;
    text-align:center;
}
h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
h4.movil{
    
    color: green;
    margin-left: 70px;
}

li.uno{
    background-color: white;
    text-align:left;
    list-style-type: none;
    margin-left: 50px;
    margin-right: 700px;
    border-radius: 20px;
}
p.uno{
    margin-left: 10px;
}
li.one{
    list-style-type:none;
    text-align: justify;
}
li.dos{
    background-color: white;
    text-align: center;
    list-style-type: none;
    border-radius: 20px;
    margin-right: 380px;
    margin-left: 300px;
    
}
li.two{
    list-style-type:none;
    text-align: justify;
    margin-left: 20px;
    
}